.search-div{
    animation: color-change1 3s infinite;
    margin-top: 1em;
 
}
@keyframes color-change1 {
    0% { color: black;background-color: white; }
    50% { color: white;background-color: black; }
    100% { color: black;background-color: white; }
  }

#myInput{
    width: 100%;
    margin-top: .5em;
}
  
  .table-bar{
      margin-left: 0;
      margin-right: 0;
      margin-top: 1em;
      width: 100%;
      border: 1px solid;
     
  }
  tr,td{
    border: 1px solid;
  }

  .search-here{
   margin: 0;
  }
  .thead{
      text-transform: uppercase;
      text-align: center;

  }

  body {
    background: black;
    background: url(../images/nature-4939842.jpg);
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main{
      background-color: rgba(0,0,0,.7);
      
  
  }
  .inner-img{
    background: black;
    background: url(../images/nature-4939842.jpg);
    background-position: center;
    padding: 0;
  }
  .transparnt{
    background-color: rgba(0,0,0,.5);
  }